/*
Theme Name: AOGATAX
Theme URI: 
Author: Andrew Gomez
Author URI: http://andrewgomezweb.com
Description: A custom Wordpress theme for AOGATAX
Version: 0.1
*/

@font-face {
  font-family: ArialRoundedMTBold;
  src: url(assets/fonts/arial-rounded-mt-bold.eot);
  src: url('assets/fonts/arial-rounded-mt-bold.eot?#iefix') format('embedded-opentype'),
		url(assets/fonts/arial-rounded-mt-bold.ttf) format('truetype');
}

html {
	font-family: Arial;
	background-color: #1D305F;
	padding-bottom: 25px;
}

h1, h2, h3, h4, h5, a {
	font-family: ArialRoundedMTBold;	
}

h4 {
	font-weight: bold;
}

header.site-header {
	padding: 0;
	background-color: #FFCC05;
}

header.site-header img.header {
	min-height: 100px;
	max-height: 350px;
}

header.site-header div.menu {
	text-align: center;
}

header.site-header div.menu ul {
	margin: 0;
}

header.site-header div.menu ul li {
	display: inline-block;
    list-style: none;
    height: 40px;
    padding-top: 7px;
}

header.site-header div.menu ul li.current-menu-item a {
	background-color: #1d305f;
	color: #FFCC05;
}

header.site-header div.menu ul li a {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
    text-decoration: none;
    color: #1d305f;
    height: 40px;
    margin-left: -5px;
}

header.site-header div.menu ul li a:hover {
	background-color: #1d305f;
	color: #FFCC05;
}

header.site-header div.share {
	margin: 0 auto;
	max-width: 1440px;
	color: #1d305f;
}

header.site-header div.share p {
	font-weight: bold;
}

header.site-header div.share img {
	padding: 3px 0;
	cursor: pointer;
}

div.page {
	background-color: #1D305F;
}

main.aogatax-main {
	margin: 0 auto;
	max-width: 1440px;
}

main.aogatax-main div.aogatax-section {
	padding: 15px 50px;
	margin: 0;
	color: #1D305F;
	background-color: white;
}

main.aogatax-main div.aogatax-page {
	margin: 0 auto;
	max-width: 900px;
}


main.aogatax-main div.aogatax-title-text{
	background-color: #1D305F;
	color: white;
}

main.aogatax-main div.aogatax-title-text h1 {
	color: #FFCC06;
}

main.aogatax-main div.aogatax-issues {
	background-color: #1D305F;
	border-top: 22px solid #FFCC05;
	color: white;
}

main.aogatax-main div.aogatax-issues h1, 
main.aogatax-main div.aogatax-issues h2 {
	color: #FFCC06;
}

main.aogatax-main div.aogatax-issues-section {
	cursor: pointer;
	height: 300px;
	padding: 50px 0;
}

main.aogatax-main div.aogatax-issue-content {
	display: none;
}

main.aogatax-main div.aogatax-issues-content {
	border-top: 2px solid white;
	margin-bottom: 40px;
}

main.aogatax-main div.aogatax-issues-content a {
	color: #1D305F;
	background-color: #FFCC05;
	padding: 10px 40px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	border-radius: 5px;
}

main.aogatax-main div.aogatax-issues-content div {
	margin: 0 auto;
	max-width: 800px;
}

main.aogatax-main div.aogatax-issues-content div p {
	margin-bottom: 30px;
}

main.aogatax-main div.aogatax-form {
	background-color: #FFCC05;
	border: 2px solid #1d305f;
	padding: 10px 50px;
	text-align: center;
}

main.aogatax-main div.aogatax-form_wrapper {
	background-color: #FFCC05;
	border: 2px solid #1d305f;
	padding: 10px 50px;
}

main.aogatax-main div.aogatax-form_wrapper ul {
	list-style-type: none;
}

main.aogatax-main div.aogatax-form_wrapper span {
	display: none;
}

main.aogatax-main div.aogatax-form_wrapper label {
	font-size: 24px;
}

main.aogatax-main div.aogatax-form_wrapper ul.gfield_checkbox label {
    font-size: 10px;
    margin: 5px;
}

main.aogatax-main div.aogatax-form_wrapper ul.gfield_radio label {
    font-size: 12px;
    margin: 5px;
}

main.aogatax-main div.aogatax-form_wrapper ul li.gfield {
	clear: none;
}

main.aogatax-main div.aogatax-form_wrapper .top_label .gfield_label {
	margin: 10px 0 0 0;
}

main.aogatax-main div.aogatax-form_wrapper li#field_1_10 {
	margin-top: 1.5em;
}

main.aogatax-main div.aogatax-form_wrapper .ginput_complex .ginput_right {
	margin-left: 2.5%;
}

main.aogatax-main div.aogatax-form_wrapper input[type=submit] {
    color: white;
    border: none;
    background-color: #1D305F;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}

main.aogatax-main div.aogatax-success {
	background-color: #FFCC05;
	border: 2px solid #1d305f;
	padding: 10px 50px;
}

main.aogatax-main div.aogatax-signatures {
	background-color: #FFE583;
}

main.aogatax-main div.aogatax-signature {
	background-color: white;
	margin: 25px;
	text-align: center;
	padding: 15px 0;
	border: 1px solid #1d305f;
}

@media screen and (max-width: 1440px) {

	main.aogatax-main div.aogatax-section {
		padding: 15px 15px;
	}

	main.aogatax-main div.aogatax-form_wrapper {
		padding: 10px 10px;
	}

}


@media screen and (max-width: 1200px) {
	
	main.aogatax-main div.aogatax-form_wrapper .top_label input.medium {
		width: 97.5%;
	}

	main.aogatax-main div.aogatax-form_wrapper li#field_1_10 {
		margin-top: inherit;
	}
}

@media screen and (max-width: 768px) {

	main.aogatax-main div.aogatax-section {
		padding: 10px 5px;
	}

	main.aogatax-main div.aogatax-form_wrapper {
		padding: 10px 5px;
	}

	header.site-header div.menu {
		text-align: left;
	}
}

/* Pop Up Question */

.popup-question-div{
	background-color: white;
	position: fixed;
    bottom: 0px;
    left: 20px;
    display: none;
    height: 275px;
    width: 357px;
    overflow: hidden;
}

.popup-question-div table.popup-question-imgs {
	background-color: white;
	width:100%;
}

.popup-question-div table.popup-question-imgs td{
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
}

.popup-question-div table.popup-question-imgs td img{
	height: 52px;
}

.popup-question-div img.popup-disclaimer {
	display: none;
}

.popup-question-div p.popup-disclaimer {
    text-align: center;
    font-size: 14px;
    color: #4D4D4D;
    line-height: normal;
    margin-top: -20px;
}

.popup-question-div form.popup-question{
	display: none;
	max-width:345px;
}

.popup-question-div form.popup-question input::-webkit-input-placeholder {
	font-family: ArialRoundedMTBold;
	color: grey;
	font-style: italic;
}

.popup-question-div form.popup-question span, div.charleft{
	display: none;
}

.popup-question-div form.popup-question li.text label {
	display: none;
}

.popup-question-div form.popup-question ul li.textarea {
	margin-top: 0;
}

.popup-question-div form.popup-question li.textarea label {
	font-family: ArialRoundedMTBold;
	margin-left:10px;
	font-size: 15px;
}

.popup-question-div form.popup-question input[type=text]{
	font-family: Arial;
	background-color: lightgrey;
	color: black;
	width: 100%;
	margin:5px;
	padding:5px;
	border:none;
}


.popup-question-div form.popup-question textarea{
	font-family: Arial;
	background-color: lightgrey;
	width: 100%;
	margin:5px;
	padding:5px;
	border:none;
	height:150px;
	resize: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

.popup-question-div form.popup-question input[type=submit]{
	font-family: ArialRoundedMTBold;
	font-size: 18px;
	font-weight: bold;
	width:80px; 
	margin-left: 125px;    
	background-color: white;
	color: #1d305f;
	border: 1px solid grey;
	border-radius: 5px;
}

.popup-question-div div.gform_confirmation_wrapper {
	position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 50px;
    font-size: 20px;
}

.popup-question-div .gform_wrapper div.validation_error {
    position: fixed;
    width: 75%;
    left: 25px;
    top: 75px;
    background-color: white;
    visibility: visible!important;
}

.popup-question-div .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
	max-height: 0px;
}

.popup-question-div form.popup-question li.gfield.gfield_error {
	padding-bottom: 10px;
}

.popup-question-div .gform_wrapper .gform_footer {
	margin: 0;
	height: 50px;
}


/**
 * Mobile
 */

@media screen and (max-width: 620px) {
	.popup-question-div {
	    width: 100%;
	    left: 0px;
	    height: 50px;
	    border: 1px solid black;
	    z-index: 10; 
		overflow-y: scroll;
	}

	.popup-question-div img.popup-close-question-top {
		margin: 0 auto;
	}

	.popup-question-div form.popup-question{
		max-width: 95%;
	}

	.popup-question-div form.popup-question input[type=submit] {
		margin: 0 auto;
		display: block;
		padding: 5px 25px;
		width: 80%;
	}

	.popup-question-div .gform_wrapper div.validation_error {
	    position: relative;
	    left: 25px;
	    top: 5px;
	}
}